.popup__input-error {
  height: 12px;
  visibility: hidden;
  opacity: 0;
  margin: 0 0 13px 22px;
  padding: 0;
  color: #FF0000;
  font-family: 'Inter', 'Verdana', 'Tahoma', sans-serif;
  font-style:  normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9075rem;
  transition: all 0.1s linear;
}

@media screen and (min-width: 620px) {
  .popup__input-error {
    margin-left: 36px;
  }
}
