.regiser-question__button {
  font-family: "Inter", "Verdana", "Tahoma", sans-serif;
  font-size: 0.875rem;
  line-height: 1.05875rem;
  font-style: normal;
  font-weight: 400;
  border: none;
  background-color: black;
  color: #ffffff;
  margin: 0 0 0 0.5rem;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.5s linear;
  text-decoration: underline;
}

@media screen and (min-width: 920px) {
  .regiser-question__button:hover {
    opacity: 0.6;
    transition: opacity 0.1s linear;
  }
}
