/*vendor*/
@import url(./vendor/normalize.css);

/*fonts*/
@import url(./fonts/fonts.css);

/*background*/
@import url(./blocks/background/background.css);

/*page*/
@import url(./blocks/page/page.css);

/*header*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__button/header__button.css);

/*register-login*/
@import url(./blocks/register-login/register-login.css);
@import url(./blocks/register-login/__container/regiser-login__container.css);
@import url(./blocks/register-login/__title/regiser-login__title.css);
@import url(./blocks/register-login/__form/regiser-login__form.css);
@import url(./blocks/register-login/__input/regiser-login__input.css);
@import url(./blocks/register-login/__button/regiser-login__button.css);

/*regiser-question*/
@import url(./blocks/regiser-question/regiser-question.css);
@import url(./blocks/regiser-question/__title/regiser-question__title.css);
@import url(./blocks/regiser-question/__button/regiser-question__button.css);

/*profile*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__content/profile__content.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);

/*cards*/
@import url(./blocks/cards/cards.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__info/card__info.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like/_active/card__like_active.css);
@import url(./blocks/card/__like/_number/card__like_number.css);
@import url(./blocks/card/__trash/card__trash.css);
@import url(./blocks/card/__trash/_hidden/card__trash_hidden.css);

/*footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);

/*popup*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__image-wrapper/popup__image-wrapper.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_confirm/popup__title_confirm.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__name/popup__name.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__save/_invalid/popup__save_invalid.css);
