.header {
  display: flex;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 0;
  padding: 28px 0 31.6px;
}

@media screen and (min-width: 920px) {
  .header {
    max-width: 880px;
    padding: 45px 0 41px;
  }
}
